extends layouts/default

block title
    h1 Users

block content
    script(src='/script/users/actions.js')

    h2 Table data
    table
        thead
            tr
                each property in attributes
                    th= property['name']
                th action
        tbody
            each user in users
                tr
                    -for(var property in user)
                        td= user[property]
                    td: a(href='/users/delete/' + user['id']) delete
            tr: form(name='add_user' method='post' action='/users/add')
                each property in attributes
                    td: input(type='text' name=property['name'])
                td: input(type='submit' value='add')
            
    h2 Table information
    table
        thead
            tr
                -for (var property in attributes[0])
                    th= property
                th action
        tbody
            each attribute in attributes
                tr
                    each property in attribute
                        td= property
                    td: a(href='/users/deleteColumn/' + attribute['cid']) delete
            tr: form(name='add_column' method='post' action='/users/addColumn')
                td
                td: input(type='text' name='name')
                td: select(name='type')
                        option(value='NULL') NULL
                        option(value='INTEGER') INTEGER
                        option(value='REAL') REAL
                        option(value='TEXT') TEXT
                        option(value='BLOB') BLOB
                td: select(name='notnull')
                        option(value='0') 0
                        option(value='1') 1
                td: input(type='text' name='dflt_value')
                td: select(name='pk')
                        option(value='0') 0
                        option(value='1') 1
                td: input(type='submit' value='add')